body {
    background-color: #1d1029;
    color: #f2e6f3;
    font-family: "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}

div{
    margin: 2em;
}

img{
    width: 24em;
    height: 16em;
}

button {
    width: 4em;
    height: 1.5em;
    background-color: #a676b3;
    color: #4a255c;
    border: none;
    border-radius: 0.5em;
    font-size: 1.5em;
}

button:hover{
    background-color: #c493c7;
}